.card-container {
  display: flex;
  flex-direction: column;
  background-color: #F8E9A1;
  border: 2px solid #F76C6C;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transitions: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}
